$black: #000000;
$white: #FFFFFF;
$grey: #808080;
$lightgrey: #d3d3d3;

$sg-green1: #226666;
$sg-green2: #669999;
$sg-green3: #407F7F;
$sg-green4: #0D4D4D;
$sg-green5: #003333;
$sg-green6: #044343;

$main-width: 980px;

$font-small: 1.15rem;
$font-medium: 1.4rem;
$font-big: 2.15rem;
